@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

/* CSS File Imports */

@import url("sections/header.css");
@import url("sections/hero.css");


:root {

    --ff-serif: 'Playfair Display', serif;
    --ff-sans: 'Plus Jakarta Sans', sans-serif;

    --fs-xs: .75rem;
    --fs-base: 1rem;
    --fs-base-2: 1.125rem;
    --fs-md: 1.5rem;
    --fs-lg: 2.5rem;
    --fs-lg-2: 3.5rem;
    --fs-xl: 3.75rem;
    --fs-xl-2: 3.875rem;
    --fs-xl-3: 4rem;
    --fs-xl-4: 4.25rem;
    --fs-xxl: 4.375rem;
    --fs-xxxl: 5rem;
    --fs-xxx-2: 5.5rem;
    --fs-xxxxl: 7.5rem;

    --clr-primary: #b1454a;
    --clr-secondary: #121212;
    
    --clr-black-400: #020202;
    --clr-black-500: #1f1e31;
    
    --clr-gray-100: #888888;
    --clr-gray-200: #555555;
    --clr-gray-300: #333333;
    

    --clr-neutral-400: #ffffff;
    --clr-accent-400: #fff8de;

}

/* CSS RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a {
    text-decoration: none;
    color: inherit;
  }
  
  /* Make images easier to work with */
  svg,
  img,
  picture {
    max-width: 100%;
    display: block;
  }
  
  /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
     scroll-behavior: auto;
    }
    
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

  /* Global Styles */

  body {
    max-width: 80rem;
    margin: 0 auto;
    background-color: var(--clr-accent-400);
  }

  /* Utility Classes */

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main__title {
    font-family: var(--ff-serif);
    font-size: var(--fs-xl-3);
    font-weight: 600;
    color: var(--clr-secondary);
    margin-top: 1rem;
  }

  .main__subtitle {
    font-family: var(--ff-sans);
    font-size: var(--fs-base-2);
    font-weight: 400;
    color: var(--clr-primary);
    opacity: 0.8;
    letter-spacing: -0.01em;
  }

  .main__description {
    font-family: var(--ff-sans);
    font-size: var(--fs-base-2);
    font-weight: 400;
    letter-spacing: -0.01em;
    line-height: 2.25rem;
    color: var(--clr-secondary);
    opacity: 0.8;
    margin: 2rem 0rem;
  }

  
/* Hero */

